<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/stylesheets/newpass.css">
</head>
<body>
    <header class="header">
        <%- include('./header') %>
    </header>
    <div class="reset-container">
        <h2>Create New Password</h2>
        <div id="reset-form">
            <div class="input-group">
                <label for="passcode">New Password</label>
                <input type="password" id="password" name="password" placeholder="A-Za-z0-9#@_!" required>
                <i class="fa-regular fa-eye-slash" style="color: black; display:block;" id="p"></i>
            </div>
            <div class="input-group">
                <label for="confirmpassword">Confirm New Password</label>
                <input type="password" id="confirmpassword" name="confirmpassword" placeholder="A-Za-z0-9#@_!" required>
                <i class="fa-regular fa-eye-slash eye" style="color: black; display:block;" id="c"></i>
            </div>
            <div id="error-message" class="error-message"></div>
            <button  id="submit-btn">Reset Password</button>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Fragrance Hub. All Rights Reserved.</p>
    </footer>

    <script src="/javascripts/newpassword.js"></script>
    <script src="https://kit.fontawesome.com/c5ef7b291b.js" crossorigin="anonymous"></script>
</body>
</html>
