header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  background-color: #996c38;
  color: white;
  padding: 1rem 2rem;
  /* width: 100%;
  position: fixed; */
}
.mt-5{
  margin-top: 0px !important;
}
header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-image>img {
  margin-left: 50px;
  width: 1000px;
  height: 300px;
}

header nav ul li {
  margin: 0 1rem;
}

header .logo {
  font-size: 1.5rem;
}

i {
  margin-left: 20px;
  color: white;
  font-size: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#Logoimg {
  display: inline;
  font-size: 20px;
}

.header .nav-links li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.header .nav-links li a:hover,
.nav-links .active {
  background-color: #ff5e57;
}

footer {
  text-align: center;
  padding: 4px;
  background-color: #996c38;
  color: white;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  /* Ensure it starts from the left edge */
  right: 0;
  /* Ensure it stretches to the right edge */
  width: 100vw;
  /* Ensure it covers the full viewport width */
}

.logo img {
  width: 30px;
}