* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.otp-container {
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    color: #333;
}

p {
    margin-bottom: 25px;
    color: #666;
}

.otp-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* height:200px; */
    position: relative;
}

.otp-inputs {
    display: flex;
    /* justify-content: center; */
}
.logo img{
    width:30px;
  }
.otp-input {
    width: 100%;
    max-width: 200px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.otp-input:focus {
    border-color: #007bff;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
}

.submit-btn, .resend {
    width: 45%; /* Set width for both buttons */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn {
    /* position: absolute; */
    background-color: #007bff; /* Submit button color */
}

.resend {
    /* position: absolute;
    top:100px; */
    background-color: #28a745; /* Resend button color */
}

.submit-btn:hover {
    background-color: #0056b3;
}

.resend:hover {
    background-color: #218838;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #996c38;
    color: white;
    padding: 1rem 2rem;
    width: 100%;
    position: fixed;
    top: 0;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .logo {
    font-size: 1.5rem;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.header-icons input[type="text"] {
    padding: 0.5rem;
    margin-right: .5rem;
}

.header-icons a {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #996c38;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    color: white;
    margin: 0;
}

/* .opt-sub-container
{
    display:flex;
} */